body{
    font-family: 'Poppins', sans-serif;
}
.start-container{
    display: flex;
    margin-left: 120px;
    
}
.info-influencer{
    width: 582px;
    height: 270px;
}
.title-info{
    font-weight: bold;
    font-size: 52px;
}
.influencer-camera{
    margin-left: 133px;
}
a{
    text-decoration: none;
}
.btn-preebook{
    color: white;
    background: #E02C6D;
    border-radius: 41px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font: 16px;
}