body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* --------------
influencer part
------------------ */

.container{
    display: flex;
    margin-left: 120px;
    transition: width 2s, height 2s, transform 2s;
    
}
.container:hover{
    transform: rotate(5deg) skew(-30deg);
    
}

.title-info{
    font-weight: bold;
    font-size: 52px;
}
.info-influencer{
    margin-left: 120px;
}
a{
    text-decoration: none;
}
.btn-preebook{
    color: white;
    background: #E02C6D;
    border-radius: 41px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font: 16px;
}

/* -----------------------
Icons
------------------------- */
.icons_bar{
    display: flex;
    text-align: center;
    
}
.icons_bar img{
    padding: 30px;
}

/* --------------
popular collection
------------------ */

.collection-header{
    text-align: center;
}
.collection-info{
    width: 329px;
    height: 476px;
    box-shadow: 2px 2px 20px 2px gray;
    padding: 10px;
    padding-bottom: 17px;
    border-radius: 5px;
}
.collection-info img{ 
    width: 100%;
}
.fas.fa-star.field{
    color: orange;
}
.all-collection-info{
    margin-left: 196px;
    margin-right: 196px;
    width: 1047px;
    
    
}
.container-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 5px;
}


.see_more {
    text-align: right;  
    margin-top: 50px;
}
.btn_see-more{
    text-align: right;
    color: #E02C6D ;
    font-weight: bold;
    font-size: 16px;
    
}

/* ----------------
Feelworld
------------------ */

.F6-container{
    margin-top: 100px;
    margin-left: 165px;
    margin-right: 165px;
    display: flex;
}
.feelworld_head{
    font-weight: 700px;
    font-size: 38px;
}
.detail_info{
    width: 404px;
height: 270px;
    margin-left: 165px;
}
.detail_info img{
    width: 100%;
}
.feature_btn{
    width: 155px;
    height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
    color: white;
    font-size: 16px;
}

/* ---------------------
 Influencer footer
----------------------- */
.All-about-Influencer{
    text-align: center;
    background: #0A0826;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}
.influ_head{
    font-size: 24px;
    font-weight: bold;
   
}
.online_info i{
    
    padding: 10px;
    color: white;
}


/* ----------------
Media Query
__________________ */

/*-------------------
 Mobile Device
---------------------- */

@media only screen and (max-width:688px) {
    .start-container, .all-collection-info, .all-F6_PLUS_info{ 
        width: 100%;
       
    }
    .container, .container-collections, .F6-container{
        display: block;
       grid-template-columns: repeat(1, 1fr);  
       
    }
    .icons_bar{
        display: block;
        grid-template-columns: repeat(4, 1fr);  
       
        
    }
    .info-influencer, .collection-info, .detail_info {
        
        flex-direction: column;
        
        
    }
}

/* ----------------------------
Tablet
------------------------------- */

@media only screen and (min-width: 688px) and
(max-width: 992px) {
    .start-container, .all-F6_PLUS_info{ 
        width: 100%;
       
    }

   .all-collection-info{ 
        width: 100%;
       
    }
    .icons_bar{
        display: block;
        grid-template-columns: repeat(4, 1fr);  
        margin-left: 0px;
        
    }
    .container, .F6-container{
        display: block;
       grid-template-columns: repeat(1, 1fr);  
       margin-left: 0px;
       
    }
    
    .container-collections{
       grid-template-columns: repeat(2, 1fr);  
       
    }
    .info-influencer, .detail_info {
        
        flex-direction: column;
        
        
    }
    .collection-info {  
        flex-direction: column;
        
        
    }
}

/* -------------------------
Desktop
------------------------- */
@media screen and (min-width: 992px){
    .start-container, .all-collection-info, .all-F6_PLUS_info{ 
        width: 100%;
       
    }
    .icons_bar{
        display: block;
        grid-template-columns: repeat(7, 1fr);  
      
        
    }
    .container, .container-collections, .F6-container{
      
       grid-template-columns: repeat(3, 1fr);  
      
       
    }
    
}

